#awCheckbox {
  width: 18px;
  height: 18px;
}
.awCheckboxContainer {
  width: 200px;
  
}
.awConfigContainer {
  position: relative;

}

.awConfigContainer > div {
  position: relative;
   padding: 4px;
}

#awInput_balance {
  width: 96px;
}

#awInput_amount {
  width: 80px;
}
