#awCheckbox {
  width: 18px;
  height: 18px;

}

.awConfigContainer {
  position: absolute;
  width: 100%;
  height 30px;

  padding: 4px;
}

.awConfigContainer > div {
  position: relative;
  float: left;
}
