.txt_red {
  color: #d70005;
  
}
.txt_green {
  color: #0bf033;
}

.txt_bold {
  font-weight: bold;
}


#awCheckbox {
  width: 18px;
  height: 18px;
}
.awCheckboxContainer {
  width: 200px;
  
}
.awConfigContainer {
  position: relative;

}

.awConfigContainer > div {
  position: relative;
   padding: 4px;
}

#awInput_balance {
  width: 100px;
}

#awInput_amount {
  width: 80px;
}
